<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Set your browser-->
		<add key="Browser" value ="Firefox"/>
		<add key="tests" value="parallel"/>
		<add key="thread-count" value="2"/>
		<add key="ElementTimeout" value="30"/>
		<add key ="StartUrl" value ="https://yandex.by/"/>
	</appSettings>
</configuration>